<html>

    <!-- para el listado de compras -->

    <body>
        <div class="contact-1 py-4 md:py-2">
            <div class="container mx-auto px-4">
                <div class="xl:flex -mx-4">
                    <div class="xl:w-11/12 xl:mx-auto px-4">

                        <div class="xl:w mb-4">
                            <h1 class="text-3xl text-medium mb-4">Aquí tiene la tecnología a un clic y a los mejores precios
                            </h1>
                            <p class="text-xl mb-2">Por favor, pulse clic sobre los productos que desee agregar al carrito
                                de compras.
                            </p>
                        </div>

                        <div class="md:flex md:-mx-4 mt-4 md:mt-10 py-20">

                            <div id="carrito-disponibles" class="md:w-1/2 md:px-4 bg-gray-200">
                                <!-- aquí se insertan las fichas de los productos -->
                            </div>


                            <div class="md:w-1/2 md:px-4 mt-10 md:mt-0 bg-gray-200">

                                <div class="container mx-auto p-3 max-w-screen-lg">

                                    <div class="bg-white rounded shadow p-8">

                                        <!--  ToastBar  -->
                                        <div class="w-full bg-orange-200 text-yellow-900 px-4 py-2 flex items-center">
                                            <img src="https://svgsilh.com/svg/151889.svg" class="w-10 block pr-2">
                                            <div class="text-sm">Felicitaciones usted ha sido elegido para un <b>cupón de
                                                    descuento</b> en este pedido </div>
                                        </div>

                                        <!-- Order Summary  -->
                                        <div id="carrito-elegidos">
                                            <h3 class="text-xl mt-4 font-bold">Orden de compra</h3>
                                            <!--  aquí se insertan los productos seleccionados   -->
                                        </div>

                                        <button id="carrito-btnpagar"
                                            class="px-2 py-2 bg-orange-600 text-white w-full mt-3 rounded shadow font-bold hover:bg-orange-800">
                                            PROCEDER CON EL PAGO
                                        </button>
                                    </div>

                                    <div id="carrito-confirmacion" class="flex-column justify-between mt-8 flex-wrap lg:justify-center">
                                        <!-- Aquí se confirma el pago y se indica el número de orden de envío -->
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        
        </div>
    </body>

</html>