<html>
    <body>
      <div class="max-w-sm rounded overflow-hidden shadow-lg px-8 py-8">
        <img class="w-full" src="./resources/assets/images/card-top.jpg" alt="Curso de DI">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Curso de Diseño de Interfaces</div>
          <p class="text-gray-700 text-base">
            Curso en el cual aprendemos la creación de apps con manejo de HTML, CSS y JAVASCRIPT
          </p>
        </div>
        <div class="px-6 py-4">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JAVASCRIPT</span>
        </div>
      </div>
    </body>
</html>