<html>
    <body>
        <!-- component -->
        <div id="tabla-contenedor" class="md:px-4 py-8 w-full">
            <div id="tabla-contenido" class="shadow overflow-auto md:overflow-visible rounded border-b border-gray-200">
                <div class="row ">
                    <div class="col-md-12 text-right py-2">
                        <button id="btn-agregar" class="btn btn-default pull-right bg-orange-300 hover:bg-orange-400 px-4 py-2  border-b"><i 
                            class="fa fa-plus"></i>&nbsp;&nbsp;Agregar
                        </button>
                    </div>
                </div>

                <table class="table-auto min-w-full bg-white">
                    <thead class="bg-orange-400 text-white">
                        <tr>
                            <th class="w-1/12 text-center py-2 px-4 uppercase font-semibold text-sm">ID</th>
                            <th class="w-2/12 text-center py-2 px-4 uppercase font-semibold text-sm">Imagen</th>
                            <th class="w-6/12 text-center py-2 px-4 uppercase font-semibold text-sm">Resumen</th>
                            <th class="w-1/12 text-center py-2 px-4 uppercase font-semibold text-sm">Stock</th>
                            <th class="w-1/12 text-center py-2 px-4 uppercase font-semibold text-sm">Precio</th>
                            <th class="w-1/12 text-center py-2 px-4 uppercase font-semibold text-sm">Acción</th>
                        </tr>
                    </thead>
                    <tbody id="productos-tabla" class="text-gray-700 text-center">

                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>