<html>
    <body>
        <div class="flex flex-col  sm:flex-row ">
            <!-- component -->
            <div id="articulo1" class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Nike intelligent</h1>
                    <p class="text-gray-600 text-sm mt-1">Las zapatillas, con su capacidad de seguimiento de datos, ofrecen a los clientes una opción de privacidad.
                </div>
                <img class="h-50 w-full object-cover mt-2" src="./resources/assets/images/nike-00.jpg" alt="Nike Inteligentes">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$999</h1>
                    <button id="btn-1" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded boton-compra">Agregar al Carrito</button>
                </div>
            </div>

            <!-- component -->
            <div id="articulo2" class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden ml-10 my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Nike Free</h1>
                    <p class="text-gray-600 text-sm mt-1">Estos tenis Nike de la serie Free están cubiertos por malla, y tienen media suela de espuma de doble densidad en el talón para mejor amortiguación. 
                </div>
                <img class="h-50 w-full object-cover mt-2" src="./resources/assets/images/81-FivfMcoL._UX500_.jpg" alt="Nike Inteligentes">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$129</h1>
                    <button id="btn-2" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded boton-compra">Agregar al Carrito</button>
                </div>
            </div>

        </div>

    </body>
</html>